.container {
    margin-top: 180px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1161px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cards_box{
    max-width: 387px;
    width: 100%;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
}


.card_info {
    margin-top: -252px;
    position: absolute;
    padding-left: 27px;
    padding-top: 58px;
}

.title {
    max-width: 196px;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Abhaya Libre;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0%;
    text-align: left;
}

.text {
    max-width: 225px;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Times New Roman;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}